body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.navigation-wrapper {
  height: 105px;
  background-color: #000;
  color: #f8f8f8;
  display: flex;
}

.navigation-wrapper > .left-column img {
  width: 216px;
  height: 40px;
  padding-top: 35px;
  padding-left:  20px;
  
}

.center-column-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-decoration-color: #f8f8f8;
    font-weight: 600;
    color: #f8f8f8;
    padding: 0px 40px;
}

.center-column-link > .header {
  color: #ffff00;
  flex-basis: 100%;
}

.nav-link a {
  text-decoration: none;
  color: #f8f8f8;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
}

.nav-link-spark a {
  text-decoration: none;
  color: #848482;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
}

.nav-link-spark i {
  padding-left: 10px;
}

.right-column {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    background-color: #000;
    padding-right: 20px;
}

.square_btn {
  height: 40px;
  display: inline-block;
  justify-items: center;
  border-radius: 6px;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: #55595f;
  color: #f8f8f8;
  border: solid 3px #000;
  transition: .4s;
  font-size: 25px;
}

.square_btn:hover {
  opacity: 0.3;
  color: white;
}

.square_btn > .fa-chevron-down {
  color:#00fa9a;
  padding-left: 10px;
}

.fa-search {
  font-size: 2.5em;
  vertical-align: -webkit-baseline-middle;
  background-color: #000;
  color: #55595f;
  padding-block: 20px;
  padding: 10px;
}

.hero-wrapper-section {
  background-color:#55595f; 
  background-image: linear-gradient(135deg,#55595f, #000);
  margin: 0px;
  padding: 0px;
  color: #f8f8f8;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-left-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0px 20px;
  padding-left: 30px;
  padding-bottom: 100px;
}

.left-column-content {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.hero-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.hero-btn-left {
  height: 75px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  font-family: "lato", sans-serif;
  font-size: 30px;
  font-weight: 800;
  border-radius: 6px;
  background-color: #00fa9a;
  border-color: #00fa9a;
}

.hero-btn-right {
  height: 75px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  font-family: "lato", sans-serif;
  font-size: 30px;
  font-weight: 800;
  border-radius: 6px;
  border-color: #000;
  background-color: #000;
  color: #f8f8f8
}

.right-column-content {
  color: #87cefa;
}

.hero-right-column img {
  width: 600px;
  height: 100%;
  padding: 2px;
}


.footer-nav-wrapper {
  height: 175px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-content: center;
  background-color: #000;
}

.footer-nav-wrapper > .button {
  background-color: #55595f; 
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  float: none;
}

.footer-nav-wrapper .button:hover {
  opacity: 0.3;
}

.footer-btn {
  height: 70px;
  width: 100%;
  color: #f8f8f8;
  background-color: #55595f; 
  font-family: "lato",sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-btn-content {
  font-family: "open sans",sans-serif;
  font-weight: 800;
}
